.content {
    width: 600px;
    padding: 20px;
}

/* .recently {
    background-color: gray;
    border: none;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    width: 100%;
} */

.content .recently {
    background-color: gray;
    color: white;
    width: 100%;
    height: 20px;
    padding: 10px;
    text-align: center;
}

.content .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.content .container button {
    text-align: center;
    padding: 18px 0;
    font-size: 30px;
}

.content .container .grid-1 {
    background-color: red;
    grid-row: 1 / span 2;
}

.content .container .grid-2 {
    background-color: green;
}

.content .container .grid-3 {
    background-color: blue;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.footer .recently {
    padding-right: 40px;
    text-align: right;
}